fastapi
uvicorn
python-dotenv
firebase-admin
langchain
langchain-groq
langchain-community
requests
markdown
pydantic
duckduckgo-search
ddgs

sqlalchemy
passlib[bcrypt]
python-jose
python-multipart
bcrypt
PyMuPDF
easyocr
sentence-transformers
chromadb
